@model IntroAspNet.Models.Product

<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
    <div class="card">
        <img style="height: 240px; object-fit: cover;" src="@ENV.Path.ProductPreview@Model.Preview" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.PreviewText</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: @Model.Price</li>
            <li class="list-group-item">Category: @Model.Category.Name</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Details</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>